@model ComicBookGallery.Models.ComicBook
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.DisplayText;
}

<!DOCTYPE html>

<h1>@Model.SeriesTitle</h1>
<h2>Issue #@Model.IssueNumber</h2>

<h5>Description:</h5>
<div>@Html.Raw(Model.DescriptionHtml)</div>

@if (Model.Creators.Length > 0)
{
    <h5>Credits:</h5>
    <div>
        <ul>
            @foreach (var creator in Model.Creators)
            {
                <li>@creator.Role: @creator.Name</li>
            }
        </ul>
    </div>
}
<h5>Publisher:</h5>
<div>@Model.Publisher</div>


