@model ComicBookGallery.Models.ComicBook
@{
    ViewBag.Title = Model.DisplayText;
}

<!DOCTYPE html>
<h2>@Model.DisplayText</h2>

<div class="row">
    <div class="col-md-6">
        <div class="well">
            <h5><label>Series Title:</label> @Model.SeriesTitle</h5>
            <h5><label>Issue #:</label> @Model.IssueNumber</h5>
            <h5><label>Favorite:</label> @(Model.Favorite ? "Yes" : "No")</h5>
            @if (Model.Creators.Length > 0)
            {
                <h5>Credits:</h5>
                <div>
                    <ul>
                        @foreach (var creator in Model.Creators)
                        {
                            <li>@creator.Role: @creator.Name</li>
                        }
                    </ul>
                </div>
            }
            <h5>Publisher:</h5>
            <div>@Model.Publisher</div>
        </div>
        <h5>Description:</h5>
        <div>@Html.Raw(Model.DescriptionHtml)</div>

        <div class="col-md-6">
            <img src="/Images/@Model.CoverImageFileName"
                 alt="@Model.DisplayText" class="img-responsive" />
        </div>
    </div>



